{% extends 'base.html' %}
{% block content %}
    <h2>{{ route.name }}</h2>
    <p><strong>Estimated Time:</strong> {{ route.duration }}</p>
    <div style="display: flex; gap: 20px; margin-top: 20px;">
        <div style="flex: 1;">
            {{ map|safe }}
        </div>
        <div style="flex: 1;">
            <table>
                <thead>
                    <tr>
                        <th>Address</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                    </tr>
                </thead>
                <tbody>
                    {% for point in points %}
                    <tr>
                        <td>{{ point.address_text }}</td>
                        <td>{{ point.latitude }}</td>
                        <td>{{ point.longitude }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <button id="deleteRouteBtn" class="btn btn-danger">Delete Route</button>
    <a href="{% url 'routes:route_update' route.id %}">
        <button id="updateRouteBtn" class="btn">Update Route</button>
    </a>


<script>
    document.addEventListener('DOMContentLoaded', function (){
        document.getElementById('deleteRouteBtn').addEventListener('click', function (){
            if(confirm('Are you sure you want to delete this route?')) {
                fetch('/api/routes/{{route.id}}', {
                    method: 'DELETE',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json'
                    },

                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            //     redirect
                            window.location.href = '{% url "routes:index" %}';
                        }
                    })
                    .catch(error => console.log('Error:', error));
            }
        });
    });
</script>


{% endblock %}
