{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TrashTracker</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>
<header>
    <a href="{% url 'routes:index' %}" style="display: flex; align-items: center; text-decoration: none;">
        <img src="{% static 'img/logo-1.png' %}" alt="TrashTracker Logo" style="height: 40px; margin-right: 10px;">
        <h1 style="color: lightgreen; margin: 0;">TrashTracker</h1>
    </a>

    <div class="header-right">
    {% if request.user.is_authenticated %}
        <span style="color: white; margin-left: 20px;">
            User: {{ request.user.username }}
        </span>

        <a href="{% url 'password_change' %}" class="btn" style="margin-left: 10px;">
            Change Password
        </a>

        <a href="{% url 'logout' %}" class="btn" style="margin-left: 10px;">
            Logout
        </a>
    {% else %}
        <a href="{% url 'login' %}" class="btn" style="margin-left: 10px;">Login</a>
    {% endif %}
</div>

</header>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>
