*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.idea
.pydevproject
.idea/workspace.xml
.DS_Store
.git/
.sass-cache
.vagrant/
dist
docs
env
logs
src/*/migrations/*.py
!src/*/migrations/__init__.py
venv
staticfiles
media
*.log
db.sqlite3
__pycache__
*.sqlite3
.env
.venv